
header
{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(pictures/IMG_9661.jpeg);
    background-size: 450%;
    background-position: top;
}

.pageimage2 img
{
    border-radius: 100%;
    max-width: 20% ;
    max-height: 20% ;
    display: block;
    padding-bottom: 200px;
    margin: auto;
    color:white;
    height:auto;
    margin-left: auto ;
    margin-right: auto ;
    
}
