header
{
    background-color: off white;
    position: relative;
    padding-bottom: 200px;
}
.main-page
{
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

/* h5 automatic slidshow design 1*/
h5
{
    font-size: 30px;
    max-width: 100%;
    margin: auto;
    color: black;
    text-align: right;
    padding-top: 50px;
    padding-bottom: 30px;
    writing-mode: vertical-rl;
}

.slider-frame
{
    overflow: hidden;
    height: 1200px;
    width: 1200px;
    margin-left: 250px;
    margin-top: 20px;
  
}

/*-- Slider animation*/
@-webkit-keyframes slide_animation
{
    0% {left:0px;}
    10% {left:0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 3600px;}
    70% {left: 3600px;}
    80% {left: 2400px;}
    90% {left: 2400px;}
    100% {left: 0px;}
}
 
.slide-images
{
    width: 4800px;
    height: 800px;
    margin: 0 0 0 -3600px;
    padding-bottom: 250px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container
{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
/* end of slideshow animation and design 1*/


.pageimage1 img
{
    position: center;
}

p1
{
    color:white;
    height:auto;
    display: block;
    text-align: center;
    width: 600px ;
    max-width: 100% ;
    margin: 100px auto auto auto ;
    font-size: 17px;
    border: 0.1px solid white;
    padding: 100px;
}
.page-gallery
{
    
    margin-top: 120px;
    box-sizing: border-box;
}

.mySlides1, .mySlides2, .myslides3
{
    display: none
    
}

img
{
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
    margin-bottom: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: lightcoral;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover
{
    background-color: black;
    color: white;
}
