header
{
    position: relative;
    padding-bottom: 100px;
}

.main-pagelinks
{
    text-align: center;
    margin-bottom: 400px;
}

.main-pagelinks a:hover
{
    background-color: grey;
    color: black;
    font-weight: bold;
}

.btnlink
{
    border: 10px black;
    color: black;
    text-decoration: none;
    margin-left: 5px;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 200px;
    padding: 70px;

}

span
{
    display: block;
    color: black;
}

.btn-linkone
{
    margin-top: 200px;
}
.btn-linktwo
{
    margin-top: 200px;
}
.btn-linkthree
{
   margin-top: 200px;
}


