*
{   margin:0;
    padding:0;
    font-family: "roboto", sans-serif;
}

header
    {
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(pictures/orchid.jpeg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    .main-navigation
    {
        text-align: center;
        list-style: none;
        margin-top: 50px;
    }
    .main-navigation li
    {
        color:white;
        display: inline;
        float: center;
    }
    .main-navigation li a
    {
        color: white;
        padding: 20px;
        font-family: "Roboto",sans-serif;
        font-size: 20px;
        text-decoration: none;
        
    }
    .main-navigation li a:hover
    {
       font-size: 30px;
    }
.logo img
{
    margin-left: 550px;
    margin-top: 50px;
    width: 150px;
    height: auto;
    border-radius: 100%;
}

.row1
{
    max-width: 1200px;
    margin: auto;
}

.button1
{
    margin-top: 200px;
    margin-left: 440px;
}

.button1 a:hover
{
    background-color: skyblue;
    color: black;
}
.btn 
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-size: 13px;
    text-transform: uppercase;
 
}
.btn-one .btn-two
{
    position: center;
}




