*
{   margin:0px;
    padding:0px;
    font-family: "roboto", sans-serif;
}

header
    {
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(pictures/IMG_9785.jpeg);
        height: 250vh;
        background-size: top;
        background-position: top;
    }

.logo {
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: 10s;
}

@keyframes slidein
{
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 200px;
  }
  100% {
    margin-left: 0%;
  }
}
    .main-navigation
    {
        text-align: center;
        list-style: none;
        margin-top: 50px;
    }
    .main-navigation li
    {
        color:white;
        display: inline;
        float: center;
    }
    .main-navigation li a
    {
        color: white;
        padding: 20px;
        font-size: 20px;
        text-decoration: none;
        
    }
.main-navigation li a:hover
{
   font-size: 30px;
   font-weight: bolder;
}

.dropdown-content {
  display: none;
  background-color: none;
  min-width: 100px;
  min-height: 30px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.9);
}

.main-navigation .dropdown-content a
{
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

.main-navigation:hover .dropdown-content
{
    display: inline-block;
    font-size: 5px;
}

.button1
{
    animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: 10s;
    margin: 5px 5px;
    border: 0.2px solid white;
}
.button2
{
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: 10s;
    margin: 5px 5px;
    border: 0.2px solid white;
}
.button3
{
    animation-duration: 9s;
    animation-name: slidein;
    animation-iteration-count: 10s;
    margin: 5px 5px;
    border: 0.2px solid white;
}

.logo
{
    font-size: 200px;
    color: white;
    text-align: center;
}

.button4
{
    margin-top: 200px;
    text-align: center;
}

.button4 a:hover
{
    background-color: darkkhaki;
    color: black;
    font-size: 18px;
}
.btn 
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-size: 13px;
    text-transform: uppercase;
}


.about
{
    color:white;
    height:auto;
    padding:0;
    margin-top: 230px;
    display: block;
    margin-bottom: 40px;
    text-align: center;
    width: 400px ;
    max-width: 100% ;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 17px;
}
.about: hover
{
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: 10s;
}

h1
{
    font-size: 72px;
}

h1:hover
{
    color: saddlebrown;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: 1s;
}
.pageimage img
{
    border-radius: 100%;
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 1000px;
}

.pageimage a2 img
{
    -webkit-transition: transform 1s ease-in-out;
}

.pageimage a2 img:hover
{
    -webkit-transform: rotate(90deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */;
}

footer{
    position: bottom;
}
.footer-distributed{
    background-color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}
 
.footer-distributed .footername,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
 
.footer-distributed .footername{
    width: 40%;
}
 
.footer-distributed h3{
    color:  saddlebrown;
    margin: 0;
    font-size: 36px;
}
 
.footer-distributed h3 span
{
    color:  white;
}
 
.footer-distributed .footerlinks
{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
 
.footer-distributed .footerlinks a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
 
.footer-distributed .footerlinks a:hover
{
    font-size: 15px;
}

.footer-distributed .footer-company-name{
    color: cyan;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
 
 
.footer-distributed .footer-center{
    width: 35%;
}
 
.footer-distributed .footer-center i{
    background-color:  black;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
 
.footer-distributed .footer-center p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin:0;
}
 
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p span1{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:1;
}
 
.footer-distributed .footer-center p a{
    color:  cyan;
    text-decoration: none;;
}
 
.footer-distributed .footer-right{
    width: 20%;
}
 
.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
 
.footer-distributed .footer-company-about span{
    display: block;
    color:  cyan;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
    margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  black;
    border-radius: 2px;
 
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
 
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover
{
    font-size: 40px;
}
 
 
@media (max-width: 880px) {
 
    .footer-distributed{
        font: bold 14px sans-serif;
    
    }
 
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
 
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
 
}
